@font-face {
	font-family: Hermes Normal;
	src: url(14048.eot);
}
			
@font-face {
	font-family: Hermes Normal;
	src: url(14048.ttf);
}

* {
	margin: 0;
	padding: 0;
}
			
body {
	font-family: Hermes Normal, Arial, Helvetica; 
	background: url(../img/body.bg.png);
}

header, 
nav, 
section, 
footer {
	display: block;
}
			
header {
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	color: #555;
	padding: 10px 0;
	text-transform: uppercase;	
	min-width: 1020px;
}
			
header h1 {
	cursor: default;
}
			
section {
	font-family: Arial;
	width: 970px;
	margin: 30px auto;
	padding: 20px;
	background: #fff;
	zoom: 1;
	filter:
		progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=4);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.25); 
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.25); 
	box-shadow: 4px 4px 4px rgba(0,0,0,0.25); 
	color: #555;
	height: 300px;
	position: relative;
}

#section1 p {
	text-indent: 20px;	
}

#section1 p,
#section2 p {
	margin-bottom: 10px;
}
		
section h2 {
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 20px;
}
			
section  > span {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 16px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
	display: none;
}

section p {
	text-align: justify;
}

section a {
	color: #4837c7;
	text-decoration: none;
}

section a:hover {
	color: #555;
}

section ul {
	margin-left: 20px;
}

p span{
	font-weight: bold;
	
}
		
nav {
	margin: 20px 0 0;
}
		
nav ul {
	margin: 0 auto;
	width: 1000px;
}
			
nav li {
	display: inline-block;
	width: 250px;
	margin-left: -0.3em;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	text-align: center;	
}
			
nav a {
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.5em;
	color: #555;
}
			
/* обычно в ходе разработки использую классы для задания стилей, но так как этот проект небольшой, в селекторах используются теги */